@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Resetting default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(206, 196, 196);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: pink;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  /* margin: 15px 0; */
  padding: 10px;
}

.sidebar ul li:hover {
  background-color: #1e1e1e15;
  cursor: pointer;
}

.sidebar ul li a {
  /* color: #fff; */
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-bottom: 2px solid #ddd;
}

.header h1 {
  font-size: 1.8em;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-info span {
  margin-right: 15px;
}

.user-info button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.user-info button:hover {
  background-color: #0056b3;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 9px 11px 17px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 11px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 11px 17px 1px rgba(0, 0, 0, 0.75);
  flex: 1;
  min-width: 200px;
}

.card h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.card p {
  font-size: 2em;
  color: black;
}

.main-content > h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 100px;
  font-style: italic;
  font-family: "Noto Sans", sans-serif;
  text-shadow: 5px 2px 3px rgba(0, 0, 0, 0.6);
}

.button {
  cursor: pointer;
  background-color: white;
  padding: 7px;
}

.content-card {
  width: 100%;
  margin-top: 30px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
/* CSS untuk Formulir */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button[type="reset"] {
  background-color: #6c757d;
}

button[type="reset"]:hover {
  background-color: #5a6268;
}

.list-makanan {
  display: flex;
  flex-wrap: wrap;
  columns: 6;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.makanan-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 200px;
  margin-top: 30px;
}

.makanan-details {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 700px;
  margin-top: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.makanan-details-row {
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.makanan-details img {
  border-radius: 20px;
  width: 250px;
  height: 250px;
}

.makanan-item img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.makanan-item h3 {
  font-size: 17px;
}

.makanan-deskripsi {
  font-size: 20px;
}
